.banner-address {
    float: right;
    width: 100%;
}

.address-top{
	margin-top: 16px;
}

.banner-address-left {
    text-align: left;
    padding: 0;
    float: left;
    margin-right: 20px;
    width: 100%;
	margin-top:17px;
}
.banner-address-left p{
	color:#000000;
	font-size:.9em;
	margin:0;
}
.banner-address-left p a{
	color:#FFFFFF;
	font-size:.9em;
	text-decoration:none;
}
.banner-address-left p a:hover{
	color:#fb5710;
}
.banner-address-left i.fa.fa-map-marker,.banner-address-left i.fa.fa-envelope,.banner-address-left i.fa.fa-phone{
    color: #fb5710;
    font-size: 1.5em;
    margin: 0 .5em 0 0;
}
.banner-address-left.right {
    width: 100%;
}